{% extends 'wrapper.html' %}
{% block body %}
        <div class="row">
                <div class="col-xs-10 col-md-10 col-xs-offset-1 col-md-offset-1">
                        <div class="box">
                                <script src="/static/ovenplayer/ovenplayer.js"></script>
                                <div id="player_id"></div>
                                <script>
                                        OvenPlayer.debug(true);
                                        let webrtcSources = OvenPlayer.generateWebrtcUrls([
                                                {
                                                host : 'wss://twink.link:3334',
                                                application : 'twpublish',
                                                stream : "stream-high",
                                                label : "Real-Time High"
                                                },
                                                {
                                                host : 'wss://twink.link:3334',
                                                application : 'twpublish',
                                                stream : "stream-low",
                                                label : "Real-Time Low"
                                                }
                                        ]);

                                        let player = OvenPlayer.create("player_id", {
                                                sources: webrtcSources,
                                                title: "twink.link"
                                        });

                                        
                                        player.on("error", function(error){
                                                console.log(error);
                                        });
                                </script>
                        </div>
                </div>
	</div>
{% endblock %}
