<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <title>{{headline}}</title>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

        <style>
                body {
                        background-color: black;
                        color: #eee;
                        font-family: sans-serif;
                }
                a {
                        color: #aaf;
                        text-decoration: none;
                }
                video-js {
                        width: 100% !important;
                        height: 600px !important;
                }
                h1 {
                        padding: 0;
                        margin: 0;
                }
        </style>
</head>
<body>
<div class="container-fluid">
        <div class="row bottom-xs">
                <div class="col-xs-12 col-md-6">
                        <div class="box">
                                <h1>{{headline}}</h1>
                        </div>
                </div>
                <div class="col-xs-12 col-md-6">
                        <div class="box">
                                <a href="/watch">watch</a>
                        </div>
                </div>
        </div>
{% block body %}{% endblock %}
</div>
</body>
</html>
